In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df=pd.read_csv('C:/Users/91637/OneDrive/Desktop/EXCELAR ASSIGNMENT/11 Recommendation System/anime.csv')

### EDA

In [3]:
df.shape

(12294, 7)

In [4]:
df.head()

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12294 entries, 0 to 12293
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   anime_id  12294 non-null  int64
 1   name      12294 non-null  object
 2   genre     12232 non-null  object
 3   type      12269 non-null  object
 4   episodes  12294 non-null  object
 5   rating    12064 non-null  float64
 6   members   12294 non-null  int64
dtypes: float64(1), int64(2), object(4)
memory usage: 672.5+ KB

In [8]:
df['rating'].mean()

np.float64(6.473901690981432)

In [35]:
import html

df['name'] = df['name'].apply(html.unescape)

df['name'] = df['name'].str.strip().str.replace('"', '').str.replace("'", "")

In [37]:
df.isnull().sum()

anime_id      0
name          0
genre        62
type         25
episodes      0
rating      230
members       0
dtype: int64

In [26]:
df['genre']

0                     Drama, Romance, School, Supernatural
1        Action, Adventure, Drama, Fantasy, Magic, Mili...
2        Action, Comedy, Historical, Parody, Samurai, S...
3                                         Sci-Fi, Thriller
4        Action, Comedy, Historical, Parody, Samurai, S...
                               ...
12289                                               Hentai
12290                                               Hentai
12291                                               Hentai
12292                                               Hentai
12293                                               Hentai
Name: genre, Length: 12294, dtype: object

In [38]:
df['genre'].value_counts()

genre
Hentai                                                  823
Comedy                                                  523
Music                                                   301
Kids                                                    199
Comedy, Slice of Life                                   179
                                                       ...
Hentai, Parody, Sci-Fi                                    1
Hentai, Historical, Mystery                               1
Action, Comedy, Hentai                                    1
Comedy, Ecchi, Fantasy, Parody, Yuri                      1
Action, Mecha, Military, School, Sci-Fi, Super Power      1
Name: count, Length: 3264, dtype: int64

In [39]:
df['type'].value_counts()

type
TV         3787
OVA        3311
Movie      2348
Special    1676
ONA         659
Music       488
Name: count, dtype: int64

In [41]:
df['genre'].mode()

0    Hentai
Name: genre, dtype: object

In [43]:
df['type'].mode()

0    TV
Name: type, dtype: object

In [44]:
df['genre'].fillna(value= df['genre'].mode()[0],inplace=True)
df['type'].fillna(value=df['type'].mode()[0], inplace= True)

C:\Users\91637\AppData\Local\Temp\ipykernel_24404\756888777.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['genre'].fillna(value= df['genre'].mode()[0],inplace=True)
C:\Users\91637\AppData\Local\Temp\ipykernel_24404\756888777.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['type'].fillna(value=df['type'].mode()[0], inplace= True)

In [45]:
df['rating'] = df.groupby('type')['rating'].transform(lambda x: x.fillna(x.median()))

In [46]:
df.isnull().sum()

anime_id    0
name        0
genre       0
type        0
episodes    0
rating      0
members     0
dtype: int64

## Recomened Model

In [48]:
df.head()

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266

In [50]:
df['type'].value_counts()

type
TV         3812
OVA        3311
Movie      2348
Special    1676
ONA         659
Music       488
Name: count, dtype: int64

In [53]:
df_sorted = df.sort_values(by=['type', 'rating'], ascending=False)

In [57]:
top_rated_per_type = df.loc[df.groupby('type')['rating'].idxmax()]

In [63]:
top_5_per_type = df.groupby('type', group_keys=False).apply(lambda x: x.sort_values(by='rating', ascending=False).head(2))['name']

C:\Users\91637\AppData\Local\Temp\ipykernel_24404\2828322693.py:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  top_5_per_type = df.groupby('type', group_keys=False).apply(lambda x: x.sort_values(by='rating', ascending=False).head(2))['name']

In [ ]:
 # popularity based Recomendation Based On type Also
for i in top_5_per_type.values:
    print(i)

Taka no Tsume 8: Yoshida-kun no X-Files
Mogura no Motoro
Shelter
Interstella5555: The 5tory of The 5ecret 5tar 5ystem
Eve no Jikan
Elsword: El Lady
Yakusoku: Africa Mizu to Midori
Ginga Eiyuu Densetsu
Mushishi Special: Hihamukage
Black Clover
Spoon-hime no Swing Kitchen
Fullmetal Alchemist: Brotherhood

In [66]:
import nltk
nltk.download('punkt')
nltk.download('punkt_tab')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\91637\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package punkt_tab to
[nltk_data]     C:\Users\91637\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping tokenizers\punkt_tab.zip.

True

In [67]:
df['genre']=df['genre'].str.lower()

In [68]:
import re

def remove_html_tags(text):
    return re.sub(r"<[^>]*>", "", text)

df['genre']=df['genre'].apply(remove_html_tags)

In [69]:
import string ,time
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [70]:
punch=string.punctuation

In [71]:
def remove_punchuation(text):
    for char in punch:
        text=text.replace(char,'')
    return text

In [72]:
df['genre']=df['genre'].apply(remove_punchuation)

In [76]:
from nltk.corpus import stopwords
stop_words = set(stopwords.words('english'))  # Convert to set for fast lookup

def remove_stopwords1(text):
    return " ".join([word for word in str(text).split() if word.lower() not in stop_words])

In [77]:
df['genre']=df['genre'].apply(remove_stopwords1)

In [78]:
df.head()

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,drama romance school supernatural,Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,action adventure drama fantasy magic military ...,TV,64,9.26,793665
2,28977,Gintama°,action comedy historical parody samurai scifi ...,TV,51,9.25,114262
3,9253,Steins;Gate,scifi thriller,TV,24,9.17,673572
4,9969,Gintama,action comedy historical parody samurai scifi ...,TV,51,9.16,151266

In [82]:
df['type'].value_counts()

type
TV         3812
OVA        3311
Movie      2348
Special    1676
ONA         659
Music       488
Name: count, dtype: int64

In [87]:
TV=df[df['type']=='TV']
TV.head()

,anime_id,name,genre,type,episodes,rating,members
1,5114,Fullmetal Alchemist: Brotherhood,action adventure drama fantasy magic military ...,TV,64,9.26,793665
2,28977,Gintama°,action comedy historical parody samurai scifi ...,TV,51,9.25,114262
3,9253,Steins;Gate,scifi thriller,TV,24,9.17,673572
4,9969,Gintama,action comedy historical parody samurai scifi ...,TV,51,9.16,151266
5,32935,Haikyuu!!: Karasuno Koukou VS Shiratorizawa Ga...,comedy drama school shounen sports,TV,10,9.15,93351

In [124]:
TV['name'].unique()

array(['Fullmetal Alchemist: Brotherhood', 'Gintama°', 'Steins;Gate', ...,
       'Yuuki Yuuna wa Yuusha de Aru: Yuusha no Shou', 'Citrus',
       'Hitorijime My Hero'], dtype=object)

In [88]:
OVA=df[df['type']=='OVA']
OVA.head()

,anime_id,name,genre,type,episodes,rating,members
7,820,Ginga Eiyuu Densetsu,drama military scifi space,OVA,110,9.11,80679
21,44,Rurouni Kenshin: Meiji Kenkaku Romantan - Tsui...,action drama historical martial arts romance s...,OVA,4,8.83,129307
41,32366,Gintama°: Aizome Kaori-hen,comedy parody,OVA,2,8.69,16947
52,30709,Kamisama Hajimemashita: Kako-hen,comedy demons fantasy shoujo supernatural,OVA,4,8.64,33422
66,777,Hellsing Ultimate,action horror military seinen supernatural vam...,OVA,10,8.59,297454

In [89]:
Movie=df[df['type']=='Movie']
Movie.head()

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,drama romance school supernatural,Movie,1,9.37,200630
8,15335,Gintama Movie: Kanketsu-hen - Yorozuya yo Eien...,action comedy historical parody samurai scifi ...,Movie,1,9.10,72534
11,28851,Koe no Katachi,drama school shounen,Movie,1,9.05,102733
15,199,Sen to Chihiro no Kamikakushi,adventure drama supernatural,Movie,1,8.93,466254
18,12355,Ookami Kodomo no Ame to Yuki,fantasy slice life,Movie,1,8.84,226193

In [91]:
ONA_Music = df[df['type'].isin(['ONA', 'Music'])]
ONA_Music.head()

,anime_id,name,genre,type,episodes,rating,members
169,34240,Shelter,music scifi,Music,1,8.38,71136
246,3167,Eve no Jikan,scifi slice life,ONA,6,8.26,99074
336,731,Interstella5555: The 5tory of The 5ecret 5tar ...,adventure drama music scifi,Music,1,8.17,31464
409,6505,There She Is!!,comedy romance,ONA,5,8.11,13935
421,32613,Elsword: El Lady,action fantasy,ONA,12,8.11,3846

In [134]:
df.shape

(12294, 7)

In [97]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000,stop_words='english')

In [135]:
from sklearn.feature_extraction.text import CountVectorizer
vectorizer = CountVectorizer()
genre_matrix = vectorizer.fit_transform(df['genre'])

In [139]:
genre_matrix

<Compressed Sparse Row sparse matrix of dtype 'int64'
	with 38410 stored elements and shape (12294, 45)>

In [140]:
genr_df = pd.DataFrame(genre_matrix.toarray(), columns=vectorizer.get_feature_names_out())
genr_df.head()

,action,adventure,ai,arts,cars,comedy,dementia,demons,drama,ecchi,...,shounen,slice,space,sports,super,supernatural,thriller,vampire,yaoi,yuri
0,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,1,0,0,0,0
1,1,1,0,0,0,0,0,0,1,0,...,1,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,1,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
4,1,0,0,0,0,1,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0

In [136]:
genre_matrix.shape

(12294, 45)

In [137]:
from sklearn.metrics.pairwise import cosine_similarity

cosine_sim = cosine_similarity(genre_matrix)

def recommend_anime(title, top_n=5):
    if title not in df['name'].values:
        return "Anime not found."

    idx = df[df['name'] == title].index[0]
    similarity_scores = list(enumerate(cosine_sim[idx]))
    similarity_scores = sorted(similarity_scores, key=lambda x: x[1], reverse=True)
    similar_indices = [i[0] for i in similarity_scores[1:top_n+1]]
    return df.iloc[similar_indices][['name', 'genre', 'rating']]

In [138]:
rc=recommend_anime("Fullmetal Alchemist: Brotherhood")['name']
for i in rc:
    print(i)

Fullmetal Alchemist
Fullmetal Alchemist: The Sacred Star of Milos
Fullmetal Alchemist: Brotherhood Specials
Kkomaeosa Ttori
Magi: The Kingdom of Magic